@use '../styles.scss' as s;

$wrapper-width-769: 40vw;
$avatar-width-769: 15vw;

@media (min-width: 667px) {
  .card-wrapper {
    width: $wrapper-width-769;
    height: 99vh;
    background: s.$light-navy linear-gradient(s.$lighter-navy, s.$light-navy);
    overflow-y: hidden;
    position: relative;
  }

  .card-avatar {
    position: absolute;
    top: 5vw;
    left:  calc(($wrapper-width-769 - $avatar-width-769) / 2);
    width: $avatar-width-769;
    height: 15vw;
    background: linear-gradient(s.$av-light, s.$av-dark);
    border-radius: 50%;
  }

  .data-wrapper {
    position: absolute;
    top: 45vh;
    width: calc($wrapper-width-769 - 10vw);
    margin-left: 0.3 * $avatar-width-769;
  }

  .card-item {
    margin-top: 10vh;
    height: 7vh;
    text-align: center;
    line-height: 7vh;
    background: s.$lighter-navy;
    border-radius: 1vw;
    font-size: 3vh;
  }
}
